body {
    margin-top: 30px;
    font-family: sans-serif;
}

.numpad-button {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 5px;
}

.btn-hint {
    opacity: 0;
}

#time {
    text-align: center;
    font-size: 32px;
    font-family: monospace;
}

#result {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.numpad {
    text-align: center;
}

.controls {
    margin-top: 40px;
    text-align: center;
}

button {
    background: rgb(255, 227, 215);
    border: 1px solid rgb(159, 52, 8);
    color: rgb(159, 52, 8);
    font-size: 24px;
}
.btn-backspace {
    background: white;
}

.btn-start,
.btn-replay,
.btn-check {
    height: 60px;
    width: 120px;
    border-radius: 30px;
    margin: 0 5px;
}

.btn-start {
    text-transform: uppercase;
}

.btn-start,
.btn-check {
    color: rgb(4, 116, 66);
    background: rgb(209, 237, 223);
    border: 1px solid rgb(4, 116, 66);
}

.btn-check {
    display: none;
}

.btn-replay {
    display: none;
    background: white;
}

.correct {
    color: rgb(4, 116, 66);
    font-weight: bold;
}